# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/android/app/build
platforms/android/app/main/assets
platforms/android/cordova*
platforms/android/Cordova*
platforms/android/.gradle*
plugins/cordova*


$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
